@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body{
    background: #000000;
    margin: 0;
}
h1,h2,p,a,li,blockquote{
    color: #cbc9cd;
    font-family: 'VT323',monospace;
    font-weight: normal;
}