@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@font-face {
    font-family: 'genalt';
    src: url('/fonts/primeform/PrimeformProDemo-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'reclet';
    src: url('/fonts/Recoleta.otf') format('opentype');
}

body {
    background-color: #ffffff;
    color: black;
    font-family: Recoleta;
    font-weight: 1000;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* h1,h2,h3,h4,h5,p,p1,p2,p3,a,li,blockquote,button{
    text-align: center;
    font-family: Recoleta;
    font-weight: 1000;
} */
@font-face {
    font-family: 'Recoleta';
    src: url('/fonts/Recoleta.otf');
        /* IE9 Compat Modes */
}
